<hgroup>
  <h1><a href="{{ calc_url('/') }}">{{ site.title }}</a></h1>
  {% if site.description %}
    <div class="site-description">{{ site.description }}</div>
  {% endif %}
</hgroup>

<nav>
  <a href="{{ calc_url('/page1/') }}">Page 1</a>&nbsp;&bull;
  <a href="{{ calc_url('/page2/') }}">Page 2</a>&nbsp;&bull;
  <a href="{{ calc_url('/page3/') }}">Page 3</a>
</nav>

<p>
  This is a blog template built using <a href="https://github.com/jtauber/ryland/">Ryland</a>, a static site generator written in Python.
</p>

<p>
  You can get the code at <a href="https://github.com/jtauber/ryland-blog-template">github.com/jtauber/ryland-blog-template</a>.
</p>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aut eaque
  inventore omnis numquam aliquid vel atque sit eveniet, dolores perspiciatis
  ex porro et pariatur accusantium quas nam autem laborum.
</p>

<p>
  Doloremque delectus magnam ducimus voluptatibus impedit earum iure id
  eligendi provident ut voluptas reprehenderit, dolor, perferendis, quidem
  porro quis ab expedita non?
</p>

{% include "_atom_feed_link.html" %}