<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% block page_title %}{% endblock %} | {{ site.title }}{% endblock %}</title>
    {% if site.description %}
      <meta name="description" content="{{ site.description }}">
    {% endif %}
    <link rel="stylesheet" href="{{ calc_url('style.css') }}">
    <link rel="alternate" type="application/atom+xml" href="{{ site.host }}{{ calc_url(site.feed_url) }}">
  </head>
  <body>
    <main>
      {% block content %}{% endblock %}
    </main>
    <aside>
      {% include "_sidebar.html" %}
    </aside>
  </body>
</html>
